.inputSearchBar{
    margin-right: 15px;
    padding: 10px;
    border-radius: 5px;  
}

.buttonSearchBar{
  background-color: #004d00;
  color: white;
  border: 0px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  margin: 25px 10px 25px 0px;  
}

.buttonRandomSearchBar{
    background-color: #ffff00;
    color: black;
    border: 0px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    margin: 25px 10px 25px 0px;
}