nav {
    background-color: #00b300;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    margin-bottom: 20px;
}

/* nav img {
    filter: hue-rotate(100deg);
} */